
@font-face {
    font-family: 'Beon';
    src: url("Assets/Beon.otf");
}


html{
    font-family: sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;

    
    /*Hide vertical scrollbar */
    overflow-y: hidden; 

    /* Hide horizontal scrollbar */
    overflow-x: hidden; 
    isolation: auto;
}

.table{
    /* background-color: rgba(85, 85, 85, 0.4); */
    margin: 0 auto;
    z-index: 0;

    position: absolute;
    top: -100px;
    right: calc((100% - 1400px) / 2);
    left: calc((100% - 1400px) / 2);

    overflow: hidden;
}

button {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.ball{
    background-image: url(./Assets/space1/moon.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 200;
}

.ball::after{

    content: '';
    display: block;
    /* background: rgba(245, 227, 199, 0.82); */

    background-image: url(./Assets/light.png);
    background-repeat: no-repeat;
    background-size: cover;
    
    /* filter: blur(250px); much to slow*/ 

    width: 400px;
    height: 400px;
    z-index: 300;

    position: relative;
    top: -175px;
    left:  -175px;
    /* transform-origin: 50% 50%; */
}

.rocket{
    background-image: url(Assets/space1/rocket-ship-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.flame{
    background-image: url(./Assets/flame.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    mix-blend-mode: screen;
    z-index: 2;

    display: none;
}

/* .rocket::after{
    content: '';
    display: block;
    width: 50px;
    height: 100px;
    z-index: 302;

    background-image: url(./Assets/flame.gif);
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    top: 70px;
    left:  27px;

    mix-blend-mode: screen;
    background-blend-mode: lighten;
} */

.background{
    /* position: fixed; */
    width: 100%;
    height: 1700px;
    z-index: -1000;
    object-fit: cover;
}

.simpleParallax{
    z-index: -1000;
}


.black-hole{
    z-index: 0;
}

.highscore-list{
    width: 175px;
    height: auto;
    position: fixed;
    top: 50px;
    left: 70px;

    font-family: 'Beon';
    font-size: 22px;
    color: white;
    
    filter: blur(0.2px);

    /* box-shadow: inset 0 0 2px 1px #2EFFF2, 0 0 2px 1px #2EFFF2; 
    border-radius: 10px;*/
}

.highscore-list p {
    text-align: center;
    font-size: 32px;
}
.highscore-list ol li{
    margin-bottom: 20px;
}

.score{
    width: 180px;
    height: auto;
    position: fixed;
    top: 50px;
    right: 70px;

    font-family: 'Beon';
    font-size: 48px;
    color: white;
    text-align: center;
    /* background-color: #2EFFF2; */

    filter: blur(0.3px);
}

.score p{
    margin-top: 32px;
}


.mars{
    background-image: url(./Assets/space1/mars.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.jupiter{
    background-image: url(./Assets/space1/jupiter.png);
    background-repeat: no-repeat;
    background-size: cover;

}

.earth{
    background-image: url(./Assets/space1/planet-earth.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.saturn{
    background-image: url(./Assets/space1/uranus.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 112px;
}

.satellite{
    background-image: url(./Assets/satellite-rotated.png);
    background-repeat: no-repeat;
    background-size: cover;
}



.colored-circle{
    background-color: #e97272;
    z-index: -200;
}


.flipper-right{
    transform-origin: 82% 50%;
    z-index: -1;
}

.flipper-left{
    transform-origin: 18% 50%;
    z-index: -1;
}

.blur{
    filter: blur(8px);
}

.line{
    height: 0px;
    box-shadow: 0 0 4px 2px #2EFFF2; 

    /* For low performance devices */
    /* box-shadow: 0 0 0 2px #2EFFF2; */

}

.invisible{
    display: none;
}




    